.card {
    background-color: rgb(195, 195, 195);
}

.carousel.light {
    span, button {
        filter: invert(1) grayscale(100);
    }
}

.carousel.dark {
    span, button {
        filter: none;
    }
}