.light {
  background-color: rgb(248, 249, 250);
  color: black;

  .nav {
    background-color: rgb(240, 240, 240);
  }

  .btn {
    background-color: rgb(33, 37, 41);
    color: white;
  }
}

.dark {
  background-color:  rgb(33, 37, 41);
  color: white;

  .btn {
    background-color: white;
    color: black;
  }
  .navbar-brand {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.App {
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: black;

  &:hover {
    opacity: 0.8;
  }
}

.dark {
  .link {
    color: white;

    &:hover {
      color: lightgrey;
    }
  }
}

.container {
  flex-grow: 1;
}